@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);

*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
}

/* -------------------------------------------------------------------------- */

header {
    padding: 1.75em;
    font-size: 2em;
    color: white;
    background-color: #666;
    text-align: center;
}

/* -------------------------------------------------------------------------- */

/* Container for flexboxes */
section {
    display: -webkit-flex;
    display: flex;
}

nav {
    padding: 1.5em;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    background: #ccc;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    margin: 0 0 2em 2em ;
}

nav ul li a {
    text-decoration: none;
    color: blue;
}

nav ul li a:hover,
nav ul li a:focus,
nav ul li a:active {
    color: darkblue;
}

/* -------------------------------------------------------------------------- */

main {
    padding: 1.5em;
    -webkit-flex: 3;
    -ms-flex: 3;
    flex: 3;
    background-color: #f1f1f1;
}

/* -------------------------------------------------------------------------- */

footer {
    background-color: #777;
    padding: 1em;
    text-align: center;
    color: white;
}

/* -------------------------------------------------------------------------- */

@media (max-width: 600px) {
    section {
        -webkit-flex-direction: column;
        flex-direction: column;
    }
}
